<main>
  <h2>Latest Poems</h2>

  <ul class="poem-list">
    <% @poems.each do |poem| %>
    <li><a href="/poems/<%= poem.id %>"><%= poem.title %></a></li>
    <% end %>
  </ul>

  <a href="/poems/new">Submit a poem</a>
</main>
