<main>
  <h2>Latest Poems</h2>

  <ul class="poem-list">
    <% @poems.each do |poem| %>
    <li class="poem-list"><a href="/poems/<%= poem.id %>"><%= poem.title %></a></li>
    <% end %>
  </ul>

  
</main>
