<form class="new-poem" action="/poems" method="post">
  <label for="title">Title</label>
  <input type="text" name="poem[title]">
  <textarea name="poem[body]" rows="8" cols="80" placeholder="Write your poem here..."></textarea>
  <input type="submit" value="Submit Your Poem">
</form>
