$primary-green: #3d5617;
$header-green: #141e06;
$white: #ffffff;
$header-black: #222;
$body-black: #444;

@mixin header-links {
  position: absolute;
  a {
    color: $white;
    font-size: 1.7em;
  }
}

body {
  box-sizing: border-box;
}

header {
  width: 100%;
}

main {
  max-width: 400px;
  margin: auto;
}
a {
  color: $primary-green;
  text-decoration: none;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

h1 {
  max-width: 100%;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    color: $white;
    font-size: 90px;
    text-align: center;
  }
}

.submit-poem-link {
  @include header-links;
  top: -75px;
  right: 30px;
}

.create-user-link {
  @include header-links;
  top: -75px;
  left: 30px;
}

.login-link {
  @include header-links;
  top: -125px;
  left: 30px;
}

#moss-header {
  max-width: 100%;
  background-color: $primary-green;
}

.poem-list {
  list-style-type: none;
  line-height: 3em;
}

h2 {
  color: $header-green;
}

footer {
  color: $body-black;
  width: 75%;
  padding: 20px;
  border-top: 1px $primary-green solid;
  margin: auto;
  margin-top: 40px;
  text-align: right;
}
